@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<h6>I will print the Welcome Message @ViewData["NumTimes"] times:</h6>
<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>